/*
For pretty much global visual effects
*/

.TorrentTable {
	.seeds .total:before, .peers .total:before { content: ' ('; }
	.seeds .total:after,  .peers .total:after  { content:  ')'; }
}

.BaseTable .resizeHandle  { cursor:   e-resize; }
.FlexResizer[data-axis=x] { cursor: col-resize; }
.FlexResizer[data-axis=y] { cursor: row-resize; }
