/*
Wireframe theme

Not intended as a particularly pretty/flashy theme, just some of the UI
basics and examples of useful defaults/patterns.
*/


@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic|Source+Code+Pro:200,300,400,500,600,700,900&subset=latin,latin-ext);
%mono {
	font-family: 'Source Code Pro', monospace;
}
%sans {
	font-family: 'Source Sans Pro', sans-serif;
}

$offwhite: #ddd;
$grey50: #888;
$errtextcolor: #C82A2A;

body {
	font-size: 0.9rem;
	@extend %sans;
}

/*
Login
*/

.login-container {
	background: $offwhite;
	width: 100%;
	position: absolute;
	top: calc(50% - 8.5rem);
	height: 8.5rem;
	text-align: center;

	input, button {
		display: block;
		box-sizing: border-box;
		text-align: center;
		margin: 1rem auto;
		width: 10rem;
		height: 1.5rem;
	}

	.welcome, .authFail {
		margin: 0;
		padding: 0;
		@extend %mono;
		font-weight: 400;
	}

	.welcome {
		font-size: 6rem;
		height: 8rem;
		margin-top: -8rem;
	}

	.authFail {
		font-size: 1.5rem;
		margin-top: 2.5rem;
		color: $errtextcolor;
	}
}

/*
Large top-level components
*/

.HeaderPane, .FooterPane {
	background: $offwhite;
	flex-basis: 32px; // Height of header and footer bars
}
.Sidebar {
	padding-right: 2rem;
	.viewList > .active {
		font-weight: bold;
	}
}

.DetailsPane {
	flex-basis: 300px; // Initial height of details
}

.FlexResizer {
	background: $offwhite;
	flex-basis: 5px; // Thickness of resizers
}

/*
General details
*/

.ProgressBarContainer {
	border: 1px solid $offwhite;
}

.ProgressBarProgress {
	background: $offwhite;
}

.byteSize, .ratioSize {
	.sizeWhole, .sizeFraction, .sizeUnit {
		@extend %mono;
	}
}

.byteSize .sizeUnit[data-exponent="0"]:before {
	// Add extra space before unit so that B aligns with KB/MB/GB/etc
	content: ' ';
}

/*
Table details
*/

.BaseTable {
	th {
		box-sizing: border-box;
		font-weight: 400;
		padding: 2px 5px;
		&.sort_ASC.align_left:after    { content: "\25B4"; }
		&.sort_ASC.align_right:before  { content: "\25B4"; }
		&.sort_DESC.align_left:after   { content: "\25BE"; }
		&.sort_DESC.align_right:before { content: "\25BE"; }
		&:before { margin-right: 5px; color: $grey50; }
		&:after  { margin-left:  5px; color: $grey50; }
	}
	td {
		box-sizing: border-box;
		padding: 0 5px;
	}
	.align_left  { text-align:  left; }
	.align_right { text-align: right; }
}

.BaseTableHeader {
	border-bottom: 1px solid $offwhite;
}

.TorrentTable {
	// Initial widths need to be set so things look okay initially.
	// The user is free to resize these, and the less important details
	// can scroll off to the right.
	// Pixel values are minimums and may be inflated if all columns are
	// <100% of the parent's width.
	// Percentages are respected so long as they add up to 100%, although
	// things might get weird upon column resize (untested/unimplemented)
	.name          { width: 400px; }
	.status        { width:  60px; }
	.size          { width: 100px; }
	.progress      { width: 150px; }
	.download_size { width: 100px; }
	.upload_size   { width: 100px; }
	.download_rate { width: 100px; }
	.upload_rate   { width: 100px; }
	.ratio         { width:  60px; }
	.eta           { width:  60px; }
	.label         { width: 120px; }
	.peers         { width:  80px; }
	.seeds         { width:  80px; }
	.priority      { width:  70px; }
	.remaining     { width: 100px; }
	.created       { width: 100px; }
	.added         { width: 100px; }
	.finished      { width: 100px; }
	.tracker       { width: 120px; }
}

.LogTable {
	@extend %mono;
	font-size: 0.75rem;
	.level      { width:  5%;   }
	.timestamp  { width: 10%;   }
	.module     { width:  7.5%; }
	.event      { width:  7.5%; }
	.message    { width: 70%;   }
}

