@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic|Source+Code+Pro:200,300,400,500,600,700,900&subset=latin,latin-ext);
%mono {
	font-family: 'Source Code Pro', monospace;
}
%sans {
	font-family: 'Source Sans Pro', sans-serif;
}

$offwhite: #ddd;

body {
	font-size: 0.9rem;
	@extend %sans;
}


/*
Large top-level components
*/

.HeaderPane, .FooterPane {
	background: $offwhite;
	flex-basis: 32px; // Height of header and footer bars
}
.Sidebar {
	padding-right: 2rem;
	.viewList > .active {
		font-weight: bold;
	}
}

.DetailsPane {
	flex-basis: 300px; // Initial height of details
}

.FlexResizer {
	background: $offwhite;
	flex-basis: 5px; // Thickness of resizers
}

/*
General details
*/

.ProgressBarContainer {
	border: 1px solid $offwhite;
}

.ProgressBarProgress {
	background: $offwhite;
}

.byteSize {
	@extend %mono;
}

/*
Torrent table details
*/

.TorrentTable {
	// Initial widths need to be set so things look okay initially.
	// The user is free to resize these, and the less important details
	// can scroll off to the right.
	.name          { width: 400px; text-align:  left; }
	.status        { width:  60px; text-align:  left; }
	.size          { width: 100px; text-align: right; }
	.progress      { width: 150px; text-align:  left; }
	.download_size { width: 100px; text-align: right; }
	.upload_size   { width: 100px; text-align: right; }
	.download_rate { width: 100px; text-align: right; }
	.upload_rate   { width: 100px; text-align: right; }
	.ratio         { width:  60px; text-align: right; }
	.eta           { width:  60px; text-align:  left; }
	.label         { width: 120px; text-align:  left; }
	.peers         { width:  80px; text-align: right; }
	.seeds         { width:  80px; text-align: right; }
	.priority      { width:  70px; text-align:  left; }
	.remaining     { width: 100px; text-align: right; }
	.created       { width: 100px; text-align: right; }
	.added         { width: 100px; text-align: right; }
	.finished      { width: 100px; text-align: right; }
	.tracker       { width: 120px; text-align:  left; }

	// Data cells to set mono, not set above because the headers look bad in mono
	td.ratio { @extend %mono; }
	td.peers { @extend %mono; }
	td.seeds { @extend %mono; }

	td, th {
		box-sizing: border-box;
		padding: 0 5px;
	}
}
