/*
Wireframe theme

Not intended as a particularly pretty/flashy theme, just some of the UI
basics and examples of useful defaults/patterns.
*/

$offwhite: #ddd;
$grey50: #888;
$grey25: #CCC;
$errtextcolor: #C82A2A;
$focuscolor: #1CB8E8;
$selectioncolor: #C1F0FF;

@import 'type';
%mono {
	font-family: 'Source Code Pro', monospace;
}
%sans {
	font-family: 'Source Sans Pro', sans-serif;
}

%focusIndicator {
	position: absolute;
	content: ' ';
	top: 0;
	left: 0;
	height: 100%;
	width: 3px;
	background: $focuscolor;
}

body {
	font-size: 0.9rem;
	@extend %sans;
}

/*
Login
*/

.login-container {
	background: $offwhite;
	width: 100%;
	position: absolute;
	top: calc(50% - 8.5rem);
	height: 8.5rem;
	text-align: center;

	input, button {
		display: block;
		text-align: center;
		margin: 1rem auto;
		width: 10rem;
		height: 1.5rem;
	}

	.welcome, .authFail {
		margin: 0;
		padding: 0;
		@extend %mono;
		font-weight: 400;
	}

	.welcome {
		font-size: 6rem;
		height: 8rem;
		margin-top: -8rem;
	}

	.authFail {
		font-size: 1.5rem;
		margin-top: 2.5rem;
		color: $errtextcolor;
	}
}

/*
Large top-level components
*/

.HeaderPane {
	background: $offwhite;
	flex-basis: 32px;
}
.FooterPane {
	background: $offwhite;
	flex-basis: 2rem;
	line-height: 2rem;
	.sizeUnit:before {
		content: '' !important;
	}
	.byteSize {
		@extend %sans;
	}
	.summary {
		padding: 0 1rem;
	}
	.upload:before {
		content: "\25B4";
		padding-right: 0.25rem;
	}
	.download:before {
		content: "\25BE";
		padding-right: 0.25rem;
	}
	.current_rate:after {
		content: ', ';
	}
	.traffic_total:after {
		content: ' Total';
	}
}
.Sidebar {
	padding-right: 2rem;
	.viewList > .active {
		font-weight: bold;
	}
}

.DetailsPane {
	flex-basis: 300px; // Initial height of details
}

.FlexResizer {
	background: $offwhite;
	flex-basis: 5px; // Thickness of resizers
}

/*
General details
*/

.ProgressBarContainer {
	border: 1px solid $offwhite;
	background: #ffffff;
}

.ProgressBarProgress {
	background: $offwhite;
}

.byteSize, .ratioSize {
	@extend %mono;
	.sizeDecimal {
		@extend %sans;
	}
}

.byteSize[data-exponent="0"]{
	.sizeUnit:before {
		// Add extra space before unit so that B aligns with KB/MB/GB/etc
		content: "\00a0";
	}
	.sizeDecimal, .sizeFraction {
		display: none;
	}
}

/*
All tables
*/

.BaseTable {
	th {
		font-weight: 400;
		padding: 2px 5px;
		&.sort_ASC.align_left:after    { content: "\25B4"; }
		&.sort_ASC.align_right:before  { content: "\25B4"; }
		&.sort_DESC.align_left:after   { content: "\25BE"; }
		&.sort_DESC.align_right:before { content: "\25BE"; }
		&:before { margin-right: 5px; color: $grey50; }
		&:after  { margin-left:  5px; color: $grey50; }
	}
	td {
		padding: 0 5px;
	}
	tr.selected {
		background: $selectioncolor;
	}
	tr.focused td:first-child {
		position: relative;
		&:before {
			@extend %focusIndicator;
		}
	}
	.align_left  { text-align:  left; }
	.align_right { text-align: right; }
}

.BaseTableHeader {
	border-bottom: 1px solid $offwhite;
}

.BaseTableBefore + .BaseTable .BaseTableHeader {
	border-top: 1px solid $offwhite;
}

.BaseTableBefore {
	margin: 5px;
}

/*
Specific tables
*/

.TorrentTable {
	// Initial widths need to be set so things look okay initially.
	// The user is free to resize these, and the less important details
	// can scroll off to the right.
	// Pixel values are minimums and may be inflated if all columns are
	// <100% of the parent's width.
	// Percentages are respected so long as they add up to 100%, although
	// things might get weird upon column resize (untested/unimplemented)
	.name          { width: 400px; }
	.status        { width:  60px; }
	.size          { width: 100px; }
	.progress      { width: 150px; }
	.download_size { width: 100px; }
	.upload_size   { width: 100px; }
	.download_rate { width: 100px; }
	.upload_rate   { width: 100px; }
	.ratio         { width:  60px; }
	.eta           { width:  60px; }
	.label         { width: 120px; }
	.peers         { width:  80px; }
	.seeds         { width:  80px; }
	.priority      { width:  70px; }
	.remaining     { width: 100px; }
	.created       { width: 100px; }
	.added         { width: 100px; }
	.finished      { width: 100px; }
	.tracker       { width: 120px; }

	//XXX autoprefixer maybe?
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;

	cursor: default;
}

.LogTable {
	font-size: 0.75rem;
	.BaseTableBody { @extend %mono; }
	.level      { width:  5%; }
	.timestamp  { width: 10%; }
	.module     { width:  5%; }
	.event      { width: 10%; }
	.message    { width: 70%; }
	.logMessageFragment { margin-right: 1rem; }
	.logMessageFragment:nth-child(2n) { background: #eee; }
}

.LogTableContainer .LogFilterLabel {
	margin-left: 1rem;
}

/*
Context menus
*/

.ContextMenuManager {
	.ContextMenu {
		background: #fff;
		border: 1px solid $offwhite;
		box-shadow: 0.1rem 0.1rem 0.25rem $grey50;
		min-width: 10rem;
	}
	.ContextOption, .ContextSubmenu {
		padding: 0 0.5rem;
		line-height: 1.5rem;
		position: relative;
		&.enabled:hover {
			background: $selectioncolor;
			&:before {
				@extend %focusIndicator;
			}
		}
		&.disabled {
			color: $grey25;
		}
	}
	.ContextSeparator {
		background: $offwhite;
		height: 1px;
		margin: 1px 0;
	}
	.ContextSubmenu:after {
		position: absolute;
		content: "\25B8";
		right: 5px;
	}
}

