body {
	font-family: sans-serif;
}

.ArrSidebar {
	float: left;
	padding-right: 3rem;
	border-right: 1px solid #ddd;
	.viewList > .active {
		font-weight: bold;
	}
}

.ArrTable.TorrentTable {
	float: left;
	margin-left: 3em;
	width: 80%;
}


.ProgressBarContainer {
	height: 1em;
	width: 100%;
	min-width: 100px;
	border: 1px solid #ddd;
}

.ProgressBarProgress {
	height: 100%;
	background: #ddd;
}

/* width: attr(data-completed) won't work */
@for $i from 0 through 100 {
    .ProgressBarProgress[data-completed="#{$i}"] {
      width: #{percentage($i/100)};
    }
}

.TorrentTable {
	.seeds .total:before, .peers .total:before { content: ' ('; }
	.seeds .total:after,  .peers .total:after  { content:  ')'; }

	td.priority {
		text-transform: capitalize;
	}
}
