body {
	font-family: sans-serif;
}

.ArrSidebar {
	float: left;
	padding-right: 3rem;
	border-right: 1px solid #ddd;
	.viewList > .active {
		font-weight: bold;
	}
}

.ArrTable.TorrentTable {
	float: left;
	margin-left: 3em;
}
