/*
Common rules for how to layout things.

Any pixel values defined here are just so there's *something* because
something is needed. They can and SHOULD be overridden by themes.

Any other units are probably intended to stay where they are unless a
theme CHOOSES to override them.

Colors/borders/padding/margins/etc do not normally belong here.
*/

html, body, #arr, .RootPane {
	height: 100%;
	margin: 0;
	box-sizing: border-box;
}

.ProgressBarContainer {
	height: 14px;
	width: 100%;
	min-width: 100px;
	.ProgressBarProgress {
		height: 100%;
	}
}

/* width: attr(data-completed) won't work */
@for $i from 0 through 100 {
    .ProgressBarProgress[data-completed="#{$i}"] {
      width: #{percentage($i/100)};
    }
}

.RootPane {
	// Contains entire app
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

.HeaderPane, .FooterPane {
	// Extreme top and bottom panes
	flex: 0 0 32px;
	box-sizing: border-box;
}

.CenterPane {
	// Big horizontal pane sandwiched between header and footer, contains sidebar and main
	flex: 1 1 auto;
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
}

.Sidebar {
	// Contains filter/etc links, resizable
	flex: 0 0 auto;
	box-sizing: border-box;
	overflow: auto;
}

.MainPane {
	// Contains torrent table and details pane
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	overflow-x: auto; // Needed in Firefox to maintain correct width
}

.DetailsPane {
	// Contains details on an individual torrent, sits below torrent table, resizable
	display: flex;
	flex: 0 0 300px;
	box-sizing: border-box;
}

.FlexResizer {
	// Little bar to resize resizable things!
	flex: 0 0 5px;
	box-sizing: border-box;
}

.BaseTable {
	// Complex table with resizable headers, eg. torrent table
	flex: 1 1 auto;
	box-sizing: border-box;
	overflow-x: auto;
	overflow-y: hidden;
	position: relative;
}

.BaseTableBodyContainer {
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	height: 100%;
	min-width: 100%;
}

.BaseTable table {
	table-layout: fixed;
	width: 0;
	min-width: 100%;
	td, th {
		overflow: hidden;
		white-space: nowrap;
		width: 100px; // Override this per-column, everything will mash together without this
	}
}

.BaseTableContainer {
	min-width: 100%;
	display: flex;
	flex-direction: column;
}

.BaseTableBefore {
	flex: 0 0 auto;
}
